/* Roc Grotesk Bold font for titles */
@font-face {
  font-family: 'roc';
  src:  url('http://localhost:8080/fonts/Roc_Grotesk_Bold.otf');
}

/* Sofia font for body and texts */
@font-face {
  font-family: 'sofia';
  src:  url('http://localhost:8080/fonts/Sofia/Sofia Pro Regular Az.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'sofia';
  src:  url('http://localhost:8080/fonts/Sofia/Sofia Pro Regular Italic Az.otf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'sofia';
  src:  url('http://localhost:8080/fonts/Sofia/Sofia Pro Bold Az.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'sofia';
  src:  url('http://localhost:8080/fonts/Sofia/Sofia Pro Bold Italic Az.otf');
  font-weight: 700;
  font-style: italic;
}

$body-font-family: 'sofia', 'arial';