<template>
  <v-row>
    <v-col cols="4" offset="4">
      <v-tabs v-model="tabs" fixed-tabs>
        <v-tab href="#signin" class="tab-label">Sign In</v-tab>
        <v-tab href="#register" class="tab-label">Register</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tabs">
        <v-tab-item :value="'signin'" class="tab-box">
          <h3>Sign In</h3>
          <v-form class="form-wrapper">
            <v-text-field
                label="Email address"
                v-model="email"
                outlined
            />
            <v-text-field
                label="Password"
                v-model="password"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show1 = !show1"
                outlined
            />
            <v-btn
                block
                x-large
                elevation="2"
                class="form-btn"
                color="#21FF90">Sign In</v-btn>
          </v-form>
          <p class="forgot-text"><a href="#">I forgot my password</a></p>
        </v-tab-item>
        <v-tab-item :value="'register'" class="tab-box">
          <h3>Register</h3>
          <p style="padding: 15px 0 10px 0">You need to create an account to purchase an Ace card.</p>
          <v-form class="form-wrapper">
            <v-text-field
                label="Email address"
                v-model="email"
                outlined
            />

            <VuePhoneNumberInput
                v-model="phone"
                class="phone-field"
            />
            <p class="field-info">We’ll send you a free SMS verification.</p>

            <v-text-field
                label="Create a password"
                v-model="password"
                hide-details
                :type="show2 ? 'text' : 'password'"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show2 = !show2"
                outlined
            />
            <p class="field-info">Choose a strong password that’s at least 8 characters long and contains a letter and a number.</p>

            <v-checkbox
                v-model="checkbox"
                :label="termsLabel"
            ></v-checkbox>

            <v-btn
                block
                x-large
                elevation="2"
                class="form-btn"
                color="#21FF90">Register</v-btn>
          </v-form>
        </v-tab-item>
      </v-tabs-items>
    </v-col>
  </v-row>
</template>

<script>
import VuePhoneNumberInput from 'vue-phone-number-input'

export default {
  name: "Authorization",
  data: () => ({
    tabs: null,
    email: '',
    phone: '',
    checkbox: false,
    password: null,
    show1: false,
    show2: false,
    termsLabel: 'I accept the Terms and Conditions'
  }),
  components: {
    VuePhoneNumberInput
  }
}
</script>

<style scoped>

h3 {
  font-family: "roc", serif;
  size: 26px;
}

.tab-box {
  padding: 20px 0;
}

.form-wrapper {
  margin-top: 20px;
}

.field-info {
  color: #82999B;
  font-size: 12px;
  padding-top: 5px;
}

.form-btn, .tab-label {
  text-transform: none;
  font-weight: 700;
  font-size: 16px;
}

.form-btn {
  font-size: 18px;
}

.forgot-text {
  margin-top: 20px;
  text-align: center;
}

.forgot-text a {
  text-decoration: none;
  font-size: 18px;
}
.forgot-text a:hover {
  text-decoration: underline;
}

</style>