<template>
  <v-row>
    <v-col cols="4" offset="2">
      <v-img :src="cardSample" class="card-sample" />
      <div class="features-box">
        <h4>Key Features</h4>
        <p><v-icon color="black">mdi-check-decagram</v-icon> Choose any amount between €5 - €150</p>
        <p><v-icon color="black">mdi-check-decagram</v-icon> Virtual prepaid Mastercard credit card</p>
        <p><v-icon color="black">mdi-check-decagram</v-icon> No transaction fees*</p>
        <p class="fine-print">*When purchasing in Euros</p>
      </div>
    </v-col>
    <v-col cols="4">
      <h2>Ace Card</h2>
      <br>
      <p>Select card value:</p>
      <v-text-field
          label="Card value"
          v-model="cardValue"
          prefix="€"
          elevation="5"
          outlined />
      <v-slider
          v-model="cardValue"
          min="5"
          max="150"
          track-color="gray"
          color="blue" />
      <v-btn
          block
          x-large
          elevation="2"
          class="form-btn"
          color="#21FF90">Continue to checkout</v-btn>


      <div class="info-box">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-row
                v-bind="attrs"
                v-on="on">
              <v-col cols="1">
                <v-icon color="#0067FF">mdi-information-outline</v-icon>
              </v-col>
              <v-col cols="11">
                <p>You’ll need to create an account to complete your purchase</p>
              </v-col>
            </v-row>
          </template>
          <span>The reasons behind the account creation, but in a tooltip!</span>
        </v-tooltip>
      </div>

    </v-col>
  </v-row>
</template>

<script>
import cardSample from '../assets/images/ace_card_sample.svg';

export default {
  name: "Main",
  data: () => ({
    cardSample,
    cardValue: 20,
  })
}
</script>

<style scoped>

.card-sample {
  margin: 20px;
}

.features-box {
  margin-top: 10px;
  padding: 24px;
  border-radius: 4px;
  background-color: #E9EEEF;
}

.features-box h4 {
  margin-bottom: 15px;
}

.features-box p {
  margin: 5px 0;
}

.fine-print {
  padding-top: 15px;
  font-size: 0.8em;
}

h2 {
  margin-top: 20px;
}

.form-btn {
  text-transform: none;
}

.info-box {
  margin-top: 30px;
  padding: 0 20px;
  color: #0067FF;
}

</style>