<template>
  <v-app>
    <v-container>
      <v-row>
        <v-col cols="12"><img :src="rechargeLogo" alt="Recharge" class="logo-header"/></v-col>
      </v-row>
      <v-app-bar elevation="0" class="application-top">
        <img :src="aceLogo" alt="Ace" class="ace-logo">
        <v-breadcrumbs
            :items="items"
            divider=">"
            large
        ></v-breadcrumbs>
      </v-app-bar>

      <v-main>
        <router-view/>
      </v-main>
    </v-container>
  </v-app>
</template>

<style>

.logo-header {
  margin: 16px 0;
  height: 45px;
}

.application-top {
  margin-bottom: 20px;
}

.ace-logo {
  height: 35px;
}

.country-selector__input,
.input-tel__input {
  font-family: 'sofia', sans-serif;
  font-size: 16px;
}

</style>

<script>
import rechargeLogo from './assets/images/recharge_logo.png';
import aceLogo from './assets/images/ace_logo.png';

export default {
  name: 'App',

  data: () => ({
    rechargeLogo,
    aceLogo,
    items: [
      {text: 'Home', disabled: false},
      {text: 'Ace card', disabled: true}
    ]
  }),
};
</script>
